        <!-- views/partials/head.ejs -->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JavaScript Temperature Converter</title>
        <link href="global.css" rel="stylesheet" type="text/css">